<div class="row">
    <div class="col-xs-12 col-lg-2" style="position: relative">
        <img src={{persona.img}} id="FotoPerfil">
    </div> 
    <div class="col-lg-8">
        <div class="col-lg-2">
            <button type="button" class="btn btn-outline-primary" routerLink="/editacercade/1" *ngIf="isLogged">
                Editar persona
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-2">
                <h3 id="Nombre">{{persona.nombre}} {{persona.apellido}}</h3>
                <p>Full Stack Developer JR</p>
            </div> 
            <div class="col-xs-12 col-lg-8 descripcion">
                <span>
                    <h3>Acerca de mi</h3>
                    <p>{{persona.descripcion}}</p>
                </span> 
            </div>
        </div>
    </div>
</div>
 