.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
#FotoPerfil {
    width: 50%;
    margin-top: -40%;
    margin-bottom: 1rem;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
}
@media (min-width: 992px){
    #FotoPerfil{
        width: 100%;
    }

    .descripcion{
       display: flex;
       justify-content: center;
       align-items: center; 
    }
}

#Nombre{
    font-weight: bold;
    
}